@import url(https://fonts.googleapis.com/css?family=Roboto:400);

/*esto es caracterisiticas del formulario*/
.Formu{
  position: relative;
  padding: 60px;
  max-width: 400px;
  background-color: rgb(120, 201, 201);
  margin:  auto;
  top: 10px;
  bottom: 10px;
  right: 700px;
  height: 587px;
  font-size: 12px;
  
} 

  .u-full-width {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: horizontal; 
}  

.boton {

	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
  background-position: center;
}
 
/*esto es la alerta de error */
.alerta-error {
  background-color: black;
  color:white;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
} 


/*esto es la img del formu*/
.atr{
  position: relative;
  left: 200px;
  width: 1000px;
  height: 585px;
  bottom: 0px;
  top: 10px;
}



